<div class="row" infinite-scroll (scrolled)="onScrollDown()">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
        <div class="card">
            <div class="image">
                <a [routerLink]="['/character-info', character.id]">
                    <img [src]="character.image" [alt]="character.name" class="card-mg-top">
                </a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/character-info', character.id]">
                        <h2>{{character.name}}</h2>
                    </a>
                    <h4 class="text-muted">{{character.gender}}</h4>
                    <h6 class="text-muted">Current status: {{character.status}}</h6>
                    <small class="text-muted">Created: {{character.created | date}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5" *ngIf="characters.length <= 0">
        <p>No se encontraron resultados....</p>
    </div>
</div>
<button 
    class="btn btn-dark"
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    (click)="onScrollUp()">
    Subir
</button>
